{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">
  <input id="id" type="hidden" value="{{id}}">

  <!-- 글 상세정보보기 시작 -->
  <input type="hidden" id="{{id}}">

  <div id="post-box">

  </div>

  <a href="/s/post/1/updateForm" class="btn btn-secondary">수정</a>
  <button class="btn btn-danger">삭제</button>

  <!-- 글 상세정보보기 끝 -->

</div>
<!-- 컨테이너 끝 -->
<script>
  async function detail() {

    let id = $("#id").val();

    let response = await fetch(`/api/post/${id}`);
    let responseParse = await response.json();

    if (responseParse.code == 1) {

      $("#post-box").append(detailRender(responseParse.data));

    } else {
      alert("실패");
      history.back();
    }
  }

  function detailRender(post) {
    return `<div id="username" class="mb-3 mt-3">
              작성자 : ${post.user.username}
            </div>
            <div class="mb-3 mt-3">
              <h1 id="title">${post.title}</h1>
            </div>
            <hr />
            <div id="content" class="mb-3">
              ${post.content}
            </div>`;
  }

  detail();
</script>


{{> /layout/footer}}