{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

  <!-- 회원가입 폼 시작 -->
  <form>
    <div class="mb-3 mt-3">
      <input id="username" type="text" class="form-control" placeholder="Enter username" maxlength="12" required>
    </div>
    <div class="mb-3">
      <input id="password" type="password" class="form-control" placeholder="Enter password" maxlength="12" required>
    </div>
    <div class="mb-3">
      <input id="email" type="email" class="form-control" placeholder="Enter emails" maxlength="30" required>
    </div>
    <div class="mb-3">
      <input id="address" type="text" class="form-control" placeholder="Enter address" maxlength="300" required>
    </div>

    <button id="btn-join" type="button" class="btn btn-primary">회원가입</button>
  </form>
  <!-- 회원가입 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script>
  // 1. 이벤트 리스너
  $("#btn-join").click(() => {
    join();
  });

  // 2. 기능
  // async function join() {
  // }
  let join = async () => {

    // (1) username, password, email, address 찾아서 자바스크립트 오브젝트로 만들기
    let userDto = {
      username: $("#username").val(),
      password: $("#password").val(),
      email: $("#email").val(),
      address: $("#address").val()
    }

    // (2) 자바스크립트 오브젝트 -> JSON 변환 (통신의 표준이 JSON!!)
    // let userJson = JSON.stringify(userDto);

    // (3) fetch 요청
    let response = await fetch("/api/join", {
      method: 'POST',
      body: JSON.stringify(userDto),
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      }
    });

    let responseObject = await response.json();

    // (4) 회원가입이 잘되면 알림창을 띄우고 로그인 페이지로 이동
    if (responseObject.code == 1) {
      alert("회원가입에 성공하였습니다.");
      location.href = "/loginForm";
    } else {
      alert("회원가입에 실패하였습니다.");
    }
  }

</script>

{{> /layout/footer}}